<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Book Worm</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles.css">
    </head>
<body id="edit">
    <div class="wrapper">
        <form id="edit-form" action="/update/<%= book.id %>" method="post">
          <h2>Edit Book Details</h2>
            <div class="textarea-content">
              <label>Book Title</label>  
              <textarea class="small" name="title" required><%= book.book_name %></textarea>
            </div>
          <div class="textarea-content">
            <label>Book Author</label>
            <textarea class="small" name="author" required><%= book.author %></textarea>
          </div>
          <div class="textarea-content">
            <label>Genre</label>
            <textarea class="small" name="genre" required><%= book.genre %></textarea>
          </div>
          <div class="textarea-content">
            <label>Book ISBN</label>
            <textarea class="small" type="number" name="isbn" required><%= book.isbn %></textarea>
          </div>
          <div class="edit-ratings-wrapper">
            <label>Rate This Book</label>
            <fieldset class="rate">
              <input type="radio" id="rating10" name="ratings" value="5.0" /><label for="rating10" title="5 stars"></label>
              <input type="radio" id="rating9" name="ratings" value="4.5" /><label class="half" for="rating9" title="4 1/2 stars"></label>
              <input type="radio" id="rating8" name="ratings" value="4.0" /><label for="rating8" title="4 stars"></label>
              <input type="radio" id="rating7" name="ratings" value="3.5" /><label class="half" for="rating7" title="3 1/2 stars"></label>
              <input type="radio" id="rating6" name="ratings" value="3.0" /><label for="rating6" title="3 stars"></label>
              <input type="radio" id="rating5" name="ratings" value="2.5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
              <input type="radio" id="rating4" name="ratings" value="2.0" /><label for="rating4" title="2 stars"></label>
              <input type="radio" id="rating3" name="ratings" value="1.5" /><label class="half" for="rating3" title="1 1/2 stars"></label>
              <input type="radio" id="rating2" name="ratings" value="1.0" /><label for="rating2" title="1 star"></label>
              <input type="radio" id="rating1" name="ratings" value="0.5" /><label class="half" for="rating1" title="1/2 star"></label>
                    </fieldset>
          </div>
          <div class="textarea-content" id="book-summary">
            <label>Book Summary</label>
            <textarea name="summary" id="summary" cols="30" rows="10"><%= book.summary %></textarea>
          </div>
          <div class="textarea-content">
            <label>Your Thoughts</label>
            <textarea name="thoughts" id="thoughts" cols="30" rows="10"><%= book.thoughts %></textarea>
          </div>
          <div class="textarea-content">
            <label>Key Takeaways</label>
            <textarea name="key_takeaways" id="keyTakeaways" cols="30" rows="10"><%= book.key_takeaways %></textarea>
          </div>
          <button id="submit-btn" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>